@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');
@font-face {
  font-family: "NotoSerifCJKJP-IVS";
  src: url("fonts/NotoSerifCJKjp-IVS-Subset.woff2") format("woff2");
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px -5px;
  padding: 5px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;

}

main {
  flex: 1;

  margin: 0 0 0 0;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  z-index: 1;
}

h2 {
  margin: 20px 5px 5px 5px;
}


h3 {
  margin: 20px 5px 5px 5px;
   font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-weight: 1000;
}

p {
  margin: 10px 0 10px 0;
}

.yellow{
  font-size: 24px;
  /* color:yellow */
}

/* pre {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  white-space: pre-wrap;
  margin: 0;
  padding: 0, 1em, 0, 1em;
} */

.futoji{
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","Yu Gothic", "Yu Gothic UI", sans-serif;
    font-weight: 1000;
}

.moji {
  font-size: 30px;
}

.ji {
  border: solid 1px;
  margin-right: 5px;
}

.mini {
  font-size: 10px;
  line-height: 12px;
}

.uetsuki {
  font-size: 10px;
vertical-align: super
}


.mincho1{
  font-family: 'IPAmj明朝', serif;
  font-weight: 500;
  font-size: 30px;
}

.mincho2{
  font-family:  "游明朝体", "Yu Mincho", "YuMincho" , serif;
  font-weight: 500;
  font-size: 60px;
}

.chuki{
    font-size: 13px;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","Yu Gothic", "Yu Gothic UI", sans-serif;
    font-weight: 400;
    margin:0;
    padding:5px 20px 5px 20px;
}

.noto{
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  font-size:40px;
}

.ipa{
  font-family: 'IPAmj明朝', sans-serif;
  font-size:40px;
}

.yumincho{
  font-family:  "游明朝体", "Yu Mincho", "YuMincho" , sans-serif;
  font-size:40px;
}

dt {
  font-size: 140%;
    font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  border-bottom: 2px solid black;
  margin: 0 1em;
  padding: 1px 10px 0px 1.5em;
}

dd {
    font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  font-size: 16px;
  padding: 1px 6px 6px 2em;
  line-height: 1.8;
  margin: 0 1em;
}

.accordion{
    margin: 3em 0 0 0;
}

.accordion_title {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.accordion_title:hover {
  background-color: #c1c7c7be;
}

.accordion_title::before,
.accordion_title::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: #333;
}

.accordion_title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
  transition-duration: .3s;
}

.accordion_title::after {
  top: 48%;
  left: 15px;
  transform: rotate(-90deg);
  transition-duration: .3s;
}

.accordion_title.is-active::before {
  transform: rotate(45deg);
}

.accordion_title.is-active::after {
  transform: rotate(-45deg);
}

.accordion_content {
  line-height: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition-duration: .3s;
}

.accordion_content.is-open {
  line-height: normal;
  height: auto;
  opacity: 1;
  line-height: normal;
}

 .zenkanjiGazo{
  width: 100%;
  max-width: 800px;
  border:1px solid;
 }

  .kanjigotoGazo{
   width: 400px;
   max-width: 100%;
   border:1px solid;
 }


.blueshironuki{
  background-color: dodgerblue;
  color: white;
}

.red{
  color: red;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  text-align:center;
 table-layout: ;fixed;
 width:600px;
}

thead{
    background-color: bisque;
}

th{
  border-collapse: collapse;
  border: 1px solid black;
}

td{
    width: 1000px
  border-collapse: collapse;
  border: 1px solid black;
}

.koiblue{
  background-color: mediumturquoise;
}

.usuiblue{
  background-color: paleturquoise;
}

footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-color: steelblue;
}

ul.footer-menu li {
  display: inline;
}

.commentran {
  margin: 70px 1em 1em 3em;
}

@media screen and (max-width: 440px) {

  body {
    margin: 0 10px 10px -3px;
    padding: 3px 3px 3px 3px;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  }

  h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    background-color: steelblue;
    color: white;
    margin: 0;
    position: fixed;
    top: 0px;
    padding: 0 0 0 5px;
    width: 100%;
    height: 40px;
    text-align: left;
    z-index: 1;
  }


  .mini {
    font-size: 9px;
    line-height: 12px;
  }

dt {
  font-size: 120%;
    font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  border-bottom: 2px solid black;
  margin: 0 1em;
    padding: 1px 10px 0px 1.5em;
}

dd {
    font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  font-size: 16px;
  padding: 1px 6px 6px 2em;
  line-height: 1.8;
  margin: 0 1em;
}




  footer {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    color: white;
    background-color: steelblue;
  }

  ul.footer-menu li {
    display: inline;
  }

}