@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

@font-face {
  font-family: "NotoSerifCJKJP-IVS";
  src: url("fonts/NotoSerifCJKjp-IVS-Subset.woff2") format("woff2");
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
}

main {
  flex: 1;
}

#headpart {
    position: fixed;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

h1 {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 44px;
  margin: 0;
  padding: 0 0 0 10px;
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
}

.h1after {
  position: fixed;
  display: flex;
  align-items: flex-end;
  top: 0px;
  left: 340px;
  height: 44px;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  color: white;
}

.tojiru {
  display: flex;
  align-items: flex-end;
  padding: 0 0 3px 0;
  font-size: 10px;
}

.kugiri {
  display: flex;
  align-items: flex-end;
  top: 0px;
  height: 44px;
  margin: 0 3px 0 8px;
  font-size: 15px;
}

.idou {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  border: none;
  cursor: pointer;

}

.idounaka {
    display: flex;
  align-items: flex-end;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.idounaka:hover {
  border-bottom: 1px solid white;
}



pre {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;

  white-space: pre-wrap;
  margin: 0;
  padding: 0 0 0.5em 1em;

  /* background-color: skyblue; */
}



.mini {
  font-size: 10px;
  line-height: 12px;
}



.oyaji,
.itaiji,
.itaiji1,
.itaiji2,
.itaiji3,
.itaiji4 {
  float: left;
  margin: 0 0 0 0;
}



.hanrei {
  float: left;
  margin: 0 0 0 0;
  padding-top: 55px;
  text-align: right;
  /* background-color: blueviolet; */
}



.kanjigun {
  margin: 45px 10px 10px 1px;
}


.midashi {
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  font-weight: 500;
  font-size: 40px;
  height: 50px;
  margin: 0 0 0 20px;
  color: black;
  /* background-color: lightgreen; */
}

.midashi2 {
  font-family: 'IPAmj明朝', sans-serif;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 4px;
  margin: 0 0 0 20px;
  color: black;
}

.midashi3 {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", sans-serif;
  font-size: 40px;
  height: 50px;
  margin: -10px 0 15px 20px;
  color: black;
  /* background-color: lightgreen; */
}



/* .ipamj {
  font-family: 'IPAmj明朝', sans-serif;
  margin: 0 0 -20px 0;
  line-height: 1.1;
}

.yumincho {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", sans-serif;
  background-color: beige;
} */



.jikei {
  width: 100px;
  height: 90px;
  margin: 3px 0 0 0;
  font-size: 10px;
  text-align: center;
  background-color: bisque;
}

/* .gazoname {
  line-height: 0px;
  margin: 12px 0 72px 0;
  font-size: 15px;
  padding-right: 1em;
 background-color: bisque;
} */

.gazoname {
  margin: 0 0 58px 50px;
  padding: 0 0 0 0;
  width: 30px;
  font-size: 15px;
  border: 3px solid bisque;
  background-color: bisque;
}

.fontname {
  timeline-scope:
    top: 140px;
  line-height: 15px;
  margin: 15px 0 32px 0;
  padding: 0 15px 0 0;
  font-size: 15px;

}

.youso1 {
  line-height: 120%;
  margin-top: -13px;
}

.youso {
  line-height: 120%;
  margin-top: -3px;
}


.kisuRetsu {
  background-color: lightcyan;
  padding-right: 1em;
}

.mojigun,
.unicode,
.jiscode,
.bushu,
.sokakusu {
  background-color: lightcyan;
  padding-right: 1em;
  font-feature-settings: "palt"

}

.jislevel,
.menkuten,
.kakusu1,
.chuui {
  background-color: white;
  padding-right: 1em;
  font-feature-settings: "palt"
}

.menkuten,
.jiscode {
  font-family: Arial, Helvetica, sans-serif;
}

.jishu {
  margin: 0 0 0 2px;
  border: 1px solid black;
  background-color: black;
  color: white
}

.chuui {
  min-height: 20px;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 2px;
  padding: 2px 0 2px 0;
  color: red;
  width: 100px;
  word-break: break-word;
  overflow-wrap: break-word;
}


.kaisetsu {
  display: block;
  clear: both;
  margin: 0 1em 1em 1em;
  /* background-color: yellow; */
}

.tsukaiwake,
.sanko {
  display: block;
  clear: both;
  margin: 0 0 0 -1em;
}



.menkutenran {
  width: 90px;
}

.narrow.menkuten {
  display: none;
}

.moji {
  font-size: 30px;
}

.ji {
  border: solid 1px;
  margin-right: 5px;
}

.unicode {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.unicode.narrow {
  font-family: Arial narrow, Helvetica, sans-serif;
  font-size: 15px;
}


.gazomoji_image {
  width: 44px;
  height: 54px;
  object-position: center 8px;
}

/* .subtable {
  border-collapse: collapse;
}

.subtable th {
  border: solid 1px;
  background-color: #eee;
}

.subtable tr th:nth-child(1) {
  width: 70px;
}

.subtable tr th:nth-child(2) {
  width: 70px;
}

.subtable tr th:nth-child(3) {
  width: 70px;
}

.subtable tr th:nth-child(4) {
  width: 70px;
}

.subtable td {
  border: solid 1px;
} */

.highlight {
  background-color: yellow !important;
}

.biglight {
  background-color: yellow !important;
}

/* .mj {
  font-family: 'IPAmj明朝', 'Noto Serif JP', serif;
} */

#theTargetKanji {
  display: none;
}

#tsukaiwakeEdit_ {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  width: 600px;
  height: 200px;
}

.fontzone {
  position: absolute;
  top: 50px;
}

.fontbutton {
  font-size: 9px;
}


.jisTable {
  border: solid 1px;
  border-collapse: collapse;
  font-size: 12px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-weight: 100;
}


.jisTable tr th:nth-child(1) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}

.jisTable tr th:nth-child(2) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(3) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(4) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(5) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}

#jisTableBody tr {
  border: solid 1px;
  border: 0px 0px;
  border-collapse: collapse;
}

.jisMidashi {
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 18px;
  border-right: solid 1px;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", "YuMincho", serif;
}


.jisMenkuten {
  height: 50px;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-right: solid 1px;

}

.jisSuijun {
  width: 30px;
  text-align: center;
  font-size: 18px;
  border-right: solid 1px;
}

.moji0 {
  background-color: lightgray;
}

.moji1 {
  text-align: center;
  /* background-color: palegreen; */
  background-color: paleturquoise;
}


.moji2 {
  text-align: center;
  /* background-color: honeydew; */
  background-color: azure;
}


.moji3 {
  text-align: center;
  /* background-color: limegreen; */
  background-color: mediumturquoise;

}

.moji4 {
  text-align: center;
  /* background-color: palegreen; */
  background-color: paleturquoise;
}

.mojiNow {
  text-align: center;
  border-left: solid 1px;
}

.commentran {
  margin: 70px 1em 1em 3em;
}

footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-color: steelblue;
}

ul.footer-menu li {
  display: inline;
}


@media screen and (max-width: 524px) {
  /* @media screen and (max-width: 380px) { */

  body {
    padding: 2px;
    font-size: 16px;
  }


  h1 {
    height: 35px;
    text-align: left;
    font-size: 24px;
  }

  .h1after {
    left: 260px;
    height: 31px;
  }

  .tojiru {
    line-height: 12px;
    padding: 0 0 0 0;
  }

  .kugiri {
    margin: 0 3px 0 3px;
  }

  .idou {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 0 5px;
  }


  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

  .hanrei {
    float:left;
    text-align: right;


    padding-top: 60px;
  }

  .youso1 {
    font-family: Arial narrow, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
    line-height: 20px;
    margin-top: 30px;
    font-size: 16px;
  }

  .youso {
    line-height: 20px;
    margin-top: 11px;
    font-size: 16px;
  }


  .unicode {
    font-size: 16px;
  }

  .unicode.narrow {
    font-size: 16px;
  }

  .gazoname {
    margin: 0 0 40px 30px;
        padding: 0 0 0 0;
    width: 32px;
    font-size: 16px;
  }

  .fontname {
    font-family: Arial narrow, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
    font-size: 16px;
    line-height: 3px;
    margin-top: 0;
    text-align: right;
  }

  #widemenkuten {
    display: none;
  }

  .narrow.menkuten {
    display: block;
  }

  .jishu {
    font-size: 12px;
  }


  .midashi {
    font-family: 'Noto Serif JP', sans-serif;

    height: 40px;
    margin-top: -10px;
  }


  .midashi2 {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .midashi3 {
    height: 40px;
    margin-top: -8px;
    margin-left: 20px;
  }


  .jikei {
    width: 80px;
    height: 80px;
  }



  .gazomoji_image {
    width: 34px;
    height: 44px;
  }


  .chuui {
    width: 90px;
    font-feature-settings: "palt";
  }

  footer {
    padding: 0 0 10px 0;
  }

}