@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

@font-face {
  font-family: "NotoSerifCJKJP-IVS";
  src: url("fonts/NotoSerifCJKjp-IVS-Subset.woff2") format("woff2");
}
@font-face {
font-family: "ArchivoNarrow";
 src: url("fonts/ArchivoNarrow-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
}


header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  z-index: 5;
  align-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 5px 0 5px 8px;
  top: 0;
  width: 100%;
  background-color: steelblue;
}

h1 {
  top: 0px;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  color: white;
  font-feature-settings: "palt";
}


.h1after {
  display: inline;
  vertical-align:text-bottom;
  line-height: 12px;
  margin: 0 0 6px 10px;
  font-family: 'Noto Serif JP', serif;
  font-size: 10px;
  color: white;
}

main {
  flex: 1;
  display:flex;
  flex-direction: column;
  padding: 0 0 0 5px;
}

pre {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  white-space: pre-wrap;
  margin: 0;
  padding: 0 0 0.5em 1em;
}



.mini {
  font-size: 10px;
  line-height: 12px;
}



.oyaji,
.itaiji
 {
  display:flex;
  flex-direction: column;
  float: left;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  width:112px;
}




.hanrei {
  display:flex;
  flex-direction: column;
  float: left;
  margin: 44px 0 0 0;
  padding:0 0 0 0;
  text-align: right;
}

.mojigunHan,
.unicodeHan,
.menkutenHan,
.kakusu2Han,
.chuuiHan{
  padding-right: 1em;
  font-feature-settings: "palt";

      background-color: lightcyan;
}

.jislevelHan,
.blockHan,
.bushuHan,
.sokakusuHan{
  padding-right: 1em;
  font-feature-settings: "palt";

}

.kanjigun {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px 10px 1px;
}


  .small{
    transform: scale(0.8,1);
    transform-origin:left;
  }



.midashi {
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', sans-serif;
  font-weight: 500;
  font-size: 40px;
  height: 50px;
  margin: 0 0 0 20px;
  color: black;
  
}

.midashi2 {
  font-family: 'IPAmj明朝', sans-serif;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  position: relative;
  top: 4px;
  margin: 0 0 0 20px;
  color: black;
}

.midashi3 {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", sans-serif;
  font-size: 40px;
  height: 50px;
  margin: 0 0 10px 20px;
  color: black;
}

#jikei_{
    width: 80px;
}


.jikei {
  width: 100px;
  height: 90px;
  margin: 3px 3px 0 0;
  /* font-size: 10px; */
  text-align: center;
  background-color: bisque;
}

.gazoname {
  margin: 31px 0 31px 30px;
  padding: 0;
  width: 30px;
  font-size: 15px;
  border: 3px solid bisque;
  background-color: bisque;
}

.fontname {
  timeline-scope:
  line-height: 15px;
  margin: 15px 15px 10px 0;
  padding: 0;
  font-size: 15px;
}

.youso1 {
  line-height: 120%;
  margin-top: 8px;
}

.youso {
  line-height: 120%;
  margin-top: -3px;
}


.mojigun,
.unicode,
.menkuten,
.kakusu2,
.chuui
{
  background-color: lightcyan;
  font-feature-settings: "palt"

}

.jislevel,
.block,
.bushu,
.sokakusu 
{
  background-color: white;
  font-feature-settings: "palt"
}

.menkuten
 {
  font-family: Arial, Helvetica, sans-serif;
  
}

.jishuTop{
  display:flex;
  flex-direction: row;
  gap:0;
}


.jishu {
  display: inline-block;
  margin: 0 0 0 1px;
  border: 1px solid black;
  background-color: black;
  color: white;

}

.chuui {
  min-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: red;
  word-break: break-word;
  /* overflow-wrap: break-word; */
  padding: 0 5px 0 5px;
  /* width: 100px; */

}


.kaisetsu {
  display: block;
  clear: both;
  margin: 0 1em 1em 1em;

}

.tsukaiwake,
.sanko {
  display: block;
  clear: both;
  margin: 0 0 0 -1em;

}


.moji {
  font-size: 30px;
}

.ji {
  border: solid 1px;
  margin-right: 5px;
}

.unicode {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.unicode.narrow,
.block,
.blockHan 
{
  font-family: ArchivoNarrow, Helvetica, sans-serif;
  font-size: 15px;
}


.gazomoji_image {
  width: 44px;
  height: 54px;
  object-position: center 8px;
}


.highlight {
  background-color: yellow !important;
}

.biglight {
  background-color: yellow !important;
}


#theTargetKanji {
  display: none;
}

#tsukaiwakeEdit_ {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  width: 600px;
  height: 200px;
}

.fontzone {
  position: absolute;
  top: 50px;
}

.fontbutton {
  font-size: 9px;
}


.jisTable {
  border: solid 1px;
  border-collapse: collapse;
  font-size: 12px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-weight: 100;
}


.jisTable tr th:nth-child(1) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}

.jisTable tr th:nth-child(2) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(3) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(4) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}


.jisTable tr th:nth-child(5) {
  width: 60px;
  border: solid 1px;
  border-collapse: collapse;
}

#jisTableBody tr {
  border: solid 1px;
  border: 0px 0px;
  border-collapse: collapse;
}

.jisMidashi {
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 18px;
  border-right: solid 1px;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", "YuMincho", serif;
}


.jisMenkuten {
  height: 50px;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-right: solid 1px;

}

.jisSuijun {
  width: 30px;
  text-align: center;
  font-size: 18px;
  border-right: solid 1px;
}

.moji0 {
  background-color: lightgray;
}

.moji1 {
  text-align: center;
  /* background-color: palegreen; */
  background-color: paleturquoise;
}


.moji2 {
  text-align: center;
  /* background-color: honeydew; */
  background-color: azure;
}


.moji3 {
  text-align: center;
  /* background-color: limegreen; */
  background-color: mediumturquoise;
}

.moji4 {
  text-align: center;
  /* background-color: palegreen; */
  background-color: paleturquoise;
}

.mojiNow {
  text-align: center;
  border-left: solid 1px;
}


#endOfKanji {
  margin: 10px 1em 1em 3em;
}

footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-color: steelblue;
}

ul.footer-menu li {
  display: inline;
}


@media screen and (max-width: 524px) {
  /* @media screen and (max-width: 380px) { */

body {
  font-size: 16px;  
}


 h1 {
    font-size: 24px;
 }



 #menkutenran::before,
 #kakusu2ran::before{
content: "";
position: absolute;
top: 0;
left:-12px;
z-index: -1;
width: 112px;
height: 100%;
 background-color: lightcyan;
 }


  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

  .hanrei {
    margin: 38px 0 0 -20px;
  }

  .youso1 {
    font-family: ArchivoNarrow, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
    line-height: 20px;
    margin-top: 8px;
    padding:0 0 0 0;
    font-size: 15px;

  }

  .youso {
    line-height: 20px;
    margin-top: 11px;
    font-size: 16px;

  }

  .unicodeHan,
  .unicode {
    font-size: 16px;
   height:var(--height-Unicode);
   line-height: 16px;
  }

  .unicode.narrow {
    font-size: 16px;
  }


  .fontname {
      margin: 10px 15px 15px 0;
      line-height: 15px;

  }

.oyaji,
.itaiji
 {
width: 100px;
 }



   .small{
    transform: scale(0.7,1);
    transform-origin:left;
    font-size: 15px;
  }

  .midashi {
    font-family: 'Noto Serif JP', sans-serif;
    height: 40px;
    margin: -10px 0 0 20px;
  }


  .midashi2 {
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 20px;
  }

  .midashi3 {
    height: 40px;
    margin: -8px 0 15px 20px;
  }


  .jikei {
    width: 80px;
    height: 80px;

  }


  .gazomoji_image {
    width: 34px;
    height: 44px;
  }


  .chuui {
    /* width: 100px; */
    /* font-feature-settings: "palt"; */
  }

  .chotai{
    /* transform: scale(0.7,1) translate(12px); */
        transform: scale(0.7,1) translate(12px);

  }


  footer {
    padding: 0 0 10px 0;
  }

}



@media print {
    header {
        position: static !important;
    }
}