@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');
@font-face {
  font-family: "NotoSerifCJKJP-IVS";
  src: url("fonts/NotoSerifCJKjp-IVS-Subset.woff2") format("woff2");
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* padding: 5px; */
    padding: 5px 0 5px 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  text-size-adjust: none;
}

main {
  flex: 1;
}

h1 {
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  z-index: 1;


  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
}

#searchForm {
  position: fixed;
  z-index: 2;
  top: 8px;
  left: 350px;
  font-size: 20px;
}


#searchInput {
  font-size: 18px;
}

#searchButton {
  font-size: 15px;
}

#toKaisetsu {
  font-size: 15px;
}


.maintable {
  table-layout: fixed;
  position: static;
  top: 45px;
  /* width:730px; */
  border-collapse: collapse;
  margin: 40px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: normal;

}

.maintable th {
  position: sticky;
  height: 80px;
  top: 45px;
  font-weight: normal;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  border: solid 1px;
  border-collapse: collapse;
  border-color: white white dodgerblue dodgerblue;

  /* ソート時に矢印を付ける */
  &.sort {
    cursor: pointer;

    &.desc::after {
      content: "▼";
      margin-left: 10px;
      font-size: 16px;
    }

    &.asc::after {
      content: "▲";
      margin-left: 10px;
      font-size: 16px;
    }
  }
}


.maintable td {
  font-weight: normal;
  margin: 0;
  height: 40px;
  line-height: 20px;
  background: #eee;
  text-align: left;
}

.maintable tr:nth-child(odd) td {
  background: #fff;
}

.maintable tr td:nth-child(1) {
  padding: 0 0 0 10px;
  text-align: left;
}

.maintable tr td:nth-child(3) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP',  serif;

  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(5) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP',  serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(6) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', 'IPAmj明朝', serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(7) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', 'IPAmj明朝', serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(9) {
  padding: 0 5px 0 0;
}


.maintable tr td:nth-child(10) {
  padding: 0 0 0 5px;
}

.mini {
  font-size: 11px;
  line-height: 12px;
}


.mainTr {
  height: 60px;
}

.mainMenkuten,
.mainUnicode {
  width: 90px;
  min-width: 50px;  
}

.mainJitai1,
.mainJitai2,
.mainJitai3,
.mainJitai4 {
  width: 50px;
  min-width: 50px;  
}

.mainJitai4over {
  width: 18px;
}

.mainMojigun {
  width: 80px;
  min-width: 60px;  
}

.mainSetsumei {
  width: 100px;
 min-width: 80px;  
}

.mainYomi {
   width: auto;
  min-width: 130px;  
}

.highlight {
  background-color: yellow !important;
}

.biglight {
  background-color: yellow !important;
}



footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-color: steelblue;
}

ul.footer-menu li {
  display: inline;
}

@media screen and (max-width: 480px) {
  /* @media screen and (max-width: 380px) { */

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2px 0 2px 0;
    /* padding: 2px; */
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  }

  h1 {
    position: fixed;
    top: 0px;
    margin: 0;
    padding: 0 0 0 60px;
    width: 100%;
    height: 72px;
    text-align: left;

    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    background-color: steelblue;
    color: white;
  }

  #searchForm {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 20px;
    font-size: 16px;

  }

  #searchInput {
    font-size: 16px;
  }

  #searchButton {
    font-size: 14px;
  }

  #toKaisetsu {
    font-size: 14px;
  }


  .maintable {
    table-layout: fixed;
    position: static;
    top: 45px;
    /* width: 375px; */
    border-collapse: collapse;
    margin: 69px 0 0 0;
    font-size: 14px;
    font-weight: normal;
  }

  .mini {
    font-size: 10px;
    line-height: 12px;
  }


  .maintable th {
    background-color: dodgerblue;
    color: white;
    border: solid 1px;
    border-collapse: collapse;
    border-color: white white dodgerblue dodgerblue;

    font-weight: normal;
    text-align: center;
    height: 50px;
    position: sticky;
    top: 70px;

    &.sort {
      cursor: pointer;

      &.desc::after {
        content: "▼";
        margin-left: 10px;
        font-size: 16px;
      }

      &.asc::after {
        content: "▲";
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }



  .mainTr {
    height: 20px;
    line-height: 14px;
  }

  .mainMenkuten,
  .mainUnicode {
    display: none;
  }

  .mainJitai1,
  .mainJitai2,
  .mainJitai3,
  .mainJitai4 {
    width: 41px;
  }

  .mainJitai4over {
  width: 13px;
}
  .mainMojigun {
    width: 60px;
  }

  .mainSetsumei {
    width: 50px;
        width: auto;
        min-width: 50px;
  }

  .mainYomi {
    display: none;
  }


  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

  footer {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    color: white;
    background-color: steelblue;
  }

  ul.footer-menu li {
    display: inline;
  }
}