@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

body {
  margin: 0;
  padding: 5px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
  margin: 0;
  position: fixed;
  /* padding: 0 0 0 26px; */
  padding: 0 0 0 10px;
  top: 0px;
  width: 100%;
}

#searchForm {
  position: fixed;
  top: 8px;
  left: 420px;
  font-size: 16px;

}

#searchInput {
  /* position: fixed; */
  font-size: 16px;

}

#toKaisetsu {
  position: fixed;
  top: 10px;
  left: 350px;
  /* font-family:  "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-size: 15px; */
  /* margin: 0 0 0 30px;
  text-align: end; */
  /* padding: 5px; */
  /* border: solid 1px; */

}

#getJson {
  position: fixed;
  top: 10px;
  font-size: 10px;
  left: 560px;
}

.close {
  position: fixed;
  top: 8px;
  left: 350px;
  font-size: 16px;
}

.maintable {
  table-layout: fixed;
  width: 450px;
  border-collapse: collapse;
  margin: -16px 0 0 10px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-size: 14px;
  font-weight: normal;

}

.maintable th {
  background-color: dodgerblue;
  color: white;
  border: solid 1px;
  border-collapse: collapse;
  font-weight: normal;
  text-align: center;
  height: 80px;
  position: sticky;
  top: 0px;
}


.maintable td {
  font-weight: normal;
  /* border-bottom: solid 1px; */
  /* border: solid 1px; */
  /* margin: 1em; */
  margin: 0;
  padding: 5px 0 5px 0;
  height: 40px;
  line-height: 20px;
  /* background: #eee; */
  background: #eee;
  text-align: left;
}

.maintable tr:nth-child(odd) td {
  background: #fff;
}

.maintable tr td:nth-child(3) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
}

.maintable tr td:nth-child(5) {
  font-size: 40px;
  /* font-family: 'Noto Serif JP', serif; */
  font-family: IPAmjMincho, 'IPAmj明朝', 'Noto Serif JP', serif;
  text-align: center;
}

.maintable tr td:nth-child(6) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
}

.maintable tr td:nth-child(7) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
}

.mini {
  font-size: 11px;
  line-height: 12px;
}

pre {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  /* font-size: 120%; */
  white-space: pre-wrap;
  margin: 0;
  padding: 0, 1em, 0, 1em;
}

.mainTr {
  height: 60px;
}

.mainMenkuten,
.mainUnicode {
  width: 90px;
}

.mainJitai1,
.mainJitai2,
.mainJitai3,
.mainJitai4 {
  width: 50px;
}

.mainMojigun {
  width: 80px;
}

.mainSetsumei {
  width: 100px;
}

.mainYomi {
  width: 130px;
}


.oyaji,
.itaiji,
.itaiji1,
.itaiji2,
.itaiji3,
.itaiji4 {
  float: left;
  margin: 0 0 10px 0;
  background: white;
}


.hanrei {
  float: left;
  margin: 0 0 10px 0;
  /* padding-top: 195px; */
  padding-top: 195px;
  text-align: right;
}

.kanjigun {
  background-color: yellow;
  margin: 10px 10px 10px 1px;
  /* padding: 100px; */
}


.midashi {
  font-family: 'Noto Serif JP', serif;
  font-size: 80px;
  /* background-color: beige; */
  height: 110px;
  margin-top: -20px;
}

.jikei {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  background-color: bisque;
  /* display: inline-block;   */
}

.youso {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  line-height: 120%;
  margin-top: 8px;
}


.mojigun,
.unicode,
.menkuten,
.jiscode,
.bushu,
.kakusu {
  background-color: lightcyan;
  padding-right: 1em;
}

.jislevel,
.menkuten,
.bushu,
.chuui {
  background-color: white;
  padding-right: 1em;
}

.jishu {
  margin: 0 0 0 2px;
  border: 2px solid black;
  background-color: black;
  color: white
}

.chuui {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 2px 0 2px 0;
  /* background-color: red; */
  color: red;
}


.kaisetsu {
  display: block;
  clear: both;
  /* padding-top: 1em; */
  margin: 0, 1em, 1em, 1em;
}



.menkutenran {
  width: 90px;
}

.moji {
  font-size: 30px;
}

.ji {
  border: solid 1px;
  margin-right: 5px;
}


.gazomoji_image {
  width: 44px;
  height: 54px;
  object-position: center 8px;
}

.subtable {
  border-collapse: collapse;
}

.subtable th {
  border: solid 1px;
  background-color: #eee;
}

.subtable tr th:nth-child(1) {
  width: 70px;
}

.subtable tr th:nth-child(2) {
  width: 70px;
}

.subtable tr th:nth-child(3) {
  width: 70px;
}

.subtable tr th:nth-child(4) {
  width: 70px;
}

.subtable td {
  border: solid 1px;
}

.highlight {
  background-color: yellow;
}

.mj {
  font-family: 'IPAmj明朝', 'Noto Serif JP', serif;
}

#theTargetKanji {
  display: none;
}

#tsukaiwakeEdit_ {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  width: 600px;
  height: 200px;
}


@media screen and (max-width: 380px) {

  h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
    background-color: steelblue;
    color: white;
    margin: 0;
    position: fixed;
    padding: 0 0 0 10px;
    top: 0px;
    width: 100%;
    height: 30px;
  }

  #searchForm {
    /* position: fixed; */
    display: flex;
    top: 0px;
    left: 200px;
    font-size: 12px;
    z-index: 1;
  }

  #toKaisetsu {
    position: fixed;
    top: 6px;
    left: 340px;
    font-size: 6px;
  }

  #searchInput {
    font-size: 12px;
  }

  #getJson {
    display: none;
  }

  .maintable {
    table-layout: fixed;
    width: 375px;
    border-collapse: collapse;
    margin: -32px 0 0 0;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
    font-size: 14px;
    font-weight: normal;
    top: 0;

  }

  .mini{
    font-size: 10px;
    line-height: 12px;
  }


  .maintable th {
    background-color: dodgerblue;
    color: white;
    border: solid 1px;
    border-collapse: collapse;
    font-weight: normal;
    text-align: center;
    height: 50px;
    /* position: sticky; */
    /* position:fixed; */
    top: 0px;
  }



  .mainTr {
    height: 20px;
    line-height: 14px;
  }

  .mainMenkuten,
  .mainUnicode {
    display: none;
  }

  .mainJitai1,
  .mainJitai2,
  .mainJitai3,
  .mainJitai4 {
    width: 30px;
  }

  .mainMojigun {
    width: 50px;
  }

  .mainSetsumei {
    width: 50px;
  }

  .mainYomi {
    display: none;
  }


  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

}