@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

body {
  margin: 0;
  padding: 5px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  z-index: 1;
}

pre {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  white-space: pre-wrap;
  margin: 0;
  padding: 0, 1em, 0, 1em;
}



#searchForm {
  position: fixed;
  z-index: 2;
  top: 8px;
  left: 350px;

  font-size: 20px;
}


#searchInput {
  font-size: 20px;
}

#searchButton {
  font-size: 15px;
}

#toKaisetsu {
  font-size: 15px;
}

/* #getJson {
  font-size: 10px;
} */


.maintable {
  table-layout: fixed;
  /* position:ralative; */
  position: absolute;
  /* position: sticky; */
  top: 45px;
  width: 450px;
  border-collapse: collapse;
  /* border-collapse: separate; */
  /* margin: -16px 0 0 10px; */
  margin: 0;
  padding: 0 0 0 10px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-size: 14px;
  font-weight: normal;

}

.maintable th {
  /* .mainTr { */
  background-color: dodgerblue;
  color: white;
  /* color: white; */
  border: solid 1px;
  border-collapse: collapse;
  border-color: white white dodgerblue dodgerblue;
  font-weight: normal;
  text-align: center;
  height: 80px;
  /* position:absolute; */
  position: sticky;
  top: 45px;

  /* ソート時に矢印を付ける */
  &.sort {
    cursor: pointer;

    &.desc::after {
      content: "▼";
      margin-left: 10px;
      font-size: 16px;
    }

    &.asc::after {
      content: "▲";
      margin-left: 10px;
      font-size: 16px;
    }
  }


}


.maintable td {
  font-weight: normal;
  margin: 0;
  height: 40px;
  line-height: 20px;
  background: #eee;
  text-align: left;
}

.maintable tr:nth-child(odd) td {
  background: #fff;
}

.maintable tr td:nth-child(1) {
  padding: 0 0 0 10px;
  text-align: left;
}

.maintable tr td:nth-child(3) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif; font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(5) {
  font-size: 40px;
  font-family: 'Noto Serif JP',serif; font-weight: 500;
  /* font-family: IPAmjMincho, 'IPAmj明朝', 'Noto Serif JP', serif; */
  text-align: center;
}

.maintable tr td:nth-child(6) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif; font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(7) {
  font-size: 40px;
  font-family: 'Noto Serif JP', serif; font-weight: 500;
  text-align: center;
}

.mini {
  font-size: 11px;
  line-height: 12px;
}



.mainTr {
  height: 60px;
}

.mainMenkuten,
.mainUnicode {
  width: 90px;
}

.mainJitai1,
.mainJitai2,
.mainJitai3,
.mainJitai4 {
  width: 50px;
}

.mainJitai4over {
  width: 18px;
}

.mainMojigun {
  width: 80px;
}

.mainSetsumei {
  width: 100px;

}

.mainYomi {
  width: 130px;
}


.oyaji,
.itaiji,
.itaiji1,
.itaiji2,
.itaiji3,
.itaiji4 {
  float: left;
  margin: 0 0 10px 0;
  background: white;
}


.hanrei {
  float: left;
  margin: 0 0 10px 0;
  /* padding-top: 195px; */
  padding-top: 105px;
  text-align: right;
}

.kanjigun {
  background-color: yellow;
  margin: 45px 10px 10px 1px;
  /* padding: 100px; */
}


.midashi {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 80px;
  /* background-color: beige; */
  height: 110px;
  margin-top: -20px;
  color: black;
}


.ipamj {
  font-family: 'IPAmj明朝', sans-serif;
  margin: 0 0 -20px 0;
  line-height: 1.1;
}

.yumincho {
  font-family: "游明朝体", "Yu Mincho", YuMincho, sans-serif;
  /* background-color: beige; */
}

.jikei {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  background-color: bisque;
  /* display: inline-block;   */
}

.youso {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  line-height: 120%;
  margin-top: 8px;
}


.mojigun,
.unicode,
.menkuten,
.jiscode,
.bushu,
.kakusu {
  background-color: lightcyan;
  padding-right: 1em;
}

.jislevel,
.menkuten,
.bushu,
.chuui {
  background-color: white;
  padding-right: 1em;
}

.jishu {
  margin: 0 0 0 2px;
  border: 2px solid black;
  background-color: black;
  color: white
}

.chuui {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 2px 0 2px 0;
  /* background-color: red; */
  color: red;
}


.kaisetsu {
  display: block;
  clear: both;
  /* padding-top: 1em; */
  margin: 0, 1em, 1em, 1em;
}



.menkutenran {
  width: 90px;
}

.moji {
  font-size: 30px;
}

.ji {
  border: solid 1px;
  margin-right: 5px;
}


.gazomoji_image {
  width: 44px;
  height: 54px;
  object-position: center 8px;
}

.subtable {
  border-collapse: collapse;
}

.subtable th {
  border: solid 1px;
  background-color: #eee;
}

.subtable tr th:nth-child(1) {
  width: 70px;
}

.subtable tr th:nth-child(2) {
  width: 70px;
}

.subtable tr th:nth-child(3) {
  width: 70px;
}

.subtable tr th:nth-child(4) {
  width: 70px;
}

.subtable td {
  border: solid 1px;
}

.highlight {
  background-color: yellow !important;
}

.biglight {
  background-color: yellow !important;
}

.mj {
  font-family: 'IPAmj明朝', 'Noto Serif JP', serif;
}






#theTargetKanji {
  display: none;
}

#tsukaiwakeEdit_ {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  width: 600px;
  height: 200px;
}

@media screen and (max-width: 440px) {
  /* @media screen and (max-width: 380px) { */

  body {
    margin: 0;
    padding: 2px;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  }

  h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    background-color: steelblue;
    color: white;
    margin: 0;
    position: fixed;
    top: 0px;
    padding: 0 0 0 60px;
    width: 100%;
    height: 72px;
    text-align: left;
  }

  #searchForm {
    position: fixed;
    top: 40px;
    left: 20px;
    font-size: 16px;
    z-index: 1;
  }

  #searchInput {
    font-size: 16px;
  }

  #searchButton {
    font-size: 14px;
  }

  #toKaisetsu {
    font-size: 14px;
  }


  #getJson {
    display: none;
  }

  .maintable {
    table-layout: fixed;
    position: absolute;
    top: 100px;
    width: 375px;
    border-collapse: collapse;
    margin: -32px 0 0 0;
    font-size: 14px;
    font-weight: normal;



  }

  .mini {
    font-size: 10px;
    line-height: 12px;
  }


  .maintable th {
    background-color: dodgerblue;
    color: white;
    border: solid 1px;
    border-collapse: collapse;
    border-color: white white dodgerblue dodgerblue;
    /* border-color: white; */
    font-weight: normal;
    text-align: center;
    height: 50px;
    position: sticky;
    top: 70px;

    &.sort {
      cursor: pointer;

      &.desc::after {
        content: "▼";
        margin-left: 10px;
        font-size: 16px;
      }

      &.asc::after {
        content: "▲";
        margin-left: 10px;
        font-size: 16px;
      }
    }





  }



  .mainTr {
    height: 20px;
    line-height: 14px;
  }

  .mainMenkuten,
  .mainUnicode {
    display: none;
  }

  .mainJitai1,
  .mainJitai2,
  .mainJitai3,
  .mainJitai4 {
    width: 30px;
  }

  .mainMojigun {
    width: 50px;
  }

  .mainSetsumei {
    width: 50px;
  }

  .mainYomi {
    display: none;
  }



  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

}