@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

@font-face {
  font-family: "NotoSerifCJKJP-IVS";
  src: url("fonts/NotoSerifCJKjp-IVS-Subset.woff2") format("woff2");
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px 0 5px 0;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  text-size-adjust: none;
}

main {
  flex: 1;
}

h1 {
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
  z-index: 1;
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  background-color: steelblue;
  color: white;
}


.searchForm {
  position: fixed;
  z-index: 2;
  top: 9px;
  left: 340px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.searchForm input {
  width: 100px;
  padding: 2px 5px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
}

.searchForm input::placeholder {
  color: #777777;
}

.searchForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchForm button::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}

.idou {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 490px;
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.idounaka:hover {
  border-bottom: 1px solid white;
}


.maintable {
  table-layout: fixed;
  position: static;
  top: 45px;
  /* width:730px; */
  border-collapse: collapse;
  margin: 40px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: normal;

}

.maintable th {
  position: sticky;
  height: 80px;
  top: 42px;
  font-weight: normal;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  border-right: solid 1px white;

  /* ソート時に矢印を付ける */
  &.sort {
    cursor: pointer;

    &.desc::after {
      content: "▼";
      margin-left: 10px;
      font-size: 16px;
    }

    &.asc::after {
      content: "▲";
      margin-left: 10px;
      font-size: 16px;
    }
  }
}



.maintable td {
  font-weight: normal;
  margin: 0;
  height: 40px;
  line-height: 20px;
  background: #eee;
  text-align: left;
}

.maintable tr:nth-child(odd) td {
  background: #fff;
}

.maintable tr td:nth-child(1) {
  padding: 0 0 0 10px;
  text-align: left;
}

.maintable tr td:nth-child(3) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', serif;

  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(5) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(6) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', 'IPAmj明朝', serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(7) {
  font-size: 40px;
  font-family: 'NotoSerifCJKJP-IVS', 'Noto Serif JP', 'IPAmj明朝', serif;
  font-weight: 500;
  text-align: center;
}

.maintable tr td:nth-child(9) {
  padding: 0 5px 0 0;
}


.maintable tr td:nth-child(10) {
  padding: 0 0 0 5px;
}

.mini {
  font-size: 11px;
  line-height: 12px;
}


.mainTr {
  height: 60px;
}

.mainMenkuten,
.mainUnicode {
  width: 90px;
  min-width: 50px;
}

.mainJitai1,
.mainJitai2,
.mainJitai3,
.mainJitai4 {
  width: 50px;
  min-width: 50px;
}

.mainJitai4over {
  width: 18px;
}

.mainMojigun {
  width: 80px;
  min-width: 60px;
}

.mainSetsumei {
  width: 100px;
  min-width: 80px;
}

.mainYomi {
  width: auto;
  min-width: 130px;
}

.highlight {
  background-color: yellow !important;
}

.biglight {
  background-color: yellow !important;
}

.noto-font {
  font-family: 'Noto Serif JP', serif;
  font-size: 120%;
}

.gothic {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "Meiryo UI", "Yu Gothic", "Yu Gothic UI", sans-serif;
  font-size: 80%;
}

.commentran {
  margin: 50px 1em 1em 1em;
}

.commentnote {
  width: auto;
  max-width: 47em;
  margin: 1em;
  padding: 0 5px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;

}



footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  color: white;
  background-color: steelblue;
}

ul.footer-menu li {
  display: inline;
}

@media screen and (max-width: 560px) {

  body {
    padding: 2px 0 2px 0;
  }

  h1 {
    position: fixed;
    height: 72px;
    text-align: left;
    font-size: 24px;
  }


  .searchForm {
    position: fixed;
    z-index: 1;
    top: 38px;
    left: 20px;
    font-size: 16px;
  }

  .idou {
    top: 44px;
    left: 190px;
    font-size: 15px;
    border: none;
  }



  .maintable {
    margin: 69px 0 0 0;
  }

  .mini {
    font-size: 10px;
    line-height: 12px;
  }


  .maintable th {
    height: 50px;
    top: 70px;

    &.sort {
      cursor: pointer;

      &.desc::after {
        content: "▼";
        margin-left: 10px;
        font-size: 16px;
      }

      &.asc::after {
        content: "▲";
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }



  .mainTr {
    height: 20px;
    line-height: 14px;
  }

  .mainMenkuten,
  .mainUnicode {
    display: none;
  }

  .mainJitai1,
  .mainJitai2,
  .mainJitai3,
  .mainJitai4 {
    width: 41px;
  }

  .mainJitai4over {
    width: 13px;
  }

  .mainMojigun {
    width: 60px;
  }

  .mainSetsumei {
    width: 50px;
    width: auto;
    min-width: 50px;
  }

  .mainYomi {
    display: none;
  }


  .menkuten_,
  .unicode_,
  .yomi_ {
    display: none;
  }

  footer {
    padding: 0 0 10px 0;
  }

}